@using ModelResources = LongHu.Framework.Resources.ProjectPlanResources
@using GlobalResources = Resources.Global
@model LongHu.ObjectModel.ProjectPlan
@{
    if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Edit)
    {
        ViewBag.Title = ModelResources.EditPageTitle;
    }
    else if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Create)
    {
        ViewBag.Title = ModelResources.CreatePageTitle;
    }
    else if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Details)
    {
        ViewBag.Title = ModelResources.DetailsPageTitle;
    }
    else if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
    {
        ViewBag.Title = ModelResources.DeletePageTitle;
    }

}

<h2>@ViewBag.Title</h2>
@if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
    {
        <h3>@ModelResources.DeleteConfirmMessage</h3>
    }

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(ModelResources.CreateValidationSummaryMessage, true)
    <fieldset>
      
        <ol>

		@if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Edit
            || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
        {
            @Html.HiddenFor(model => model.Id)
        }

            @Html.HiddenFor(model => model.Id)
    <li>
        <div class="label">
            @Html.LabelFor(model => model.ProjectName, ModelResources.LabelProjectName)
        </div>
        <div class="valueLabel">
				     @if (Model.ActionOperationType ==LongHu.ObjectModel.EActionOperationType.Details
                     || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                     {
					    @Html.DisplayFor(model => model.ProjectName)

				     }
					 else
					 {
						    @Html.TextBoxFor(model => model.ProjectName)
					 }
                  
           @Html.ValidationMessageFor(model => model.ProjectName)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.BidPlanNumber, ModelResources.LabelBidPlanNumber)
        </div>
        <div class="valueLabel">
				     @if (Model.ActionOperationType ==LongHu.ObjectModel.EActionOperationType.Details
                     || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                     {
					    @Html.DisplayFor(model => model.BidPlanNumber)

				     }
					 else
					 {
						    @Html.TextBoxFor(model => model.BidPlanNumber)
					 }
                  
           @Html.ValidationMessageFor(model => model.BidPlanNumber)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.Description, ModelResources.LabelDescription)
        </div>
        <div class="valueLabel">
				     @if (Model.ActionOperationType ==LongHu.ObjectModel.EActionOperationType.Details
                     || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                     {
					    @Html.DisplayFor(model => model.Description)

				     }
					 else
					 {
						    @Html.TextBoxFor(model => model.Description)
					 }
                  
           @Html.ValidationMessageFor(model => model.Description)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.CreatedOn, ModelResources.LabelCreatedOn)
        </div>
        <div class="valueLabel">
				     @if (Model.ActionOperationType ==LongHu.ObjectModel.EActionOperationType.Details
                     || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                     {
					    @Html.DisplayFor(model => model.CreatedOn)

				     }
					 else
					 {
						    @Html.TextBoxFor(model => model.CreatedOn)
					 }
                  
           @Html.ValidationMessageFor(model => model.CreatedOn)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.ModifiedOn, ModelResources.LabelModifiedOn)
        </div>
        <div class="valueLabel">
				     @if (Model.ActionOperationType ==LongHu.ObjectModel.EActionOperationType.Details
                     || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                     {
					    @Html.DisplayFor(model => model.ModifiedOn)

				     }
					 else
					 {
						    @Html.TextBoxFor(model => model.ModifiedOn)
					 }
                  
           @Html.ValidationMessageFor(model => model.ModifiedOn)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.VersionName, ModelResources.LabelVersionName)
        </div>
        <div class="valueLabel">
				     @if (Model.ActionOperationType ==LongHu.ObjectModel.EActionOperationType.Details
                     || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                     {
					    @Html.DisplayFor(model => model.VersionName)

				     }
					 else
					 {
						    @Html.TextBoxFor(model => model.VersionName)
					 }
                  
           @Html.ValidationMessageFor(model => model.VersionName)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.Version, ModelResources.LabelVersion)
        </div>
        <div class="valueLabel">
				     @if (Model.ActionOperationType ==LongHu.ObjectModel.EActionOperationType.Details
                     || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                     {
					    @Html.DisplayFor(model => model.Version)

				     }
					 else
					 {
						    @Html.TextBoxFor(model => model.Version)
					 }
                  
           @Html.ValidationMessageFor(model => model.Version)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.IsForYear, ModelResources.LabelIsForYear)
        </div>
        <div class="valueLabel">
				     @if (Model.ActionOperationType ==LongHu.ObjectModel.EActionOperationType.Details
                     || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                     {
					    @Html.DisplayFor(model => model.IsForYear)

				     }
					 else
					 {
						    @Html.TextBoxFor(model => model.IsForYear)
					 }
                  
           @Html.ValidationMessageFor(model => model.IsForYear)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.ProjectStructureId, ModelResources.LabelProjectStructureId)
        </div>
        <div class="valueLabel">
                
				    @if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Details
                   || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                    {
                      @Html.DisplayFor(model => model.ProjectStructure.Name)
                      @Html.HiddenFor(model => model.ProjectStructureId)
                 
                     }
                     else 
                     {
					      @Html.DropDownList("ProjectStructureId",null,string.Empty, new { @class = LongHu.Framework.ConstantManager.DropDownListMandatoryShortClass })
                     }
                  
           @Html.ValidationMessageFor(model => model.ProjectStructureId)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.OrgChartId, ModelResources.LabelOrgChartId)
        </div>
        <div class="valueLabel">
                
				    @if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Details
                   || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                    {
                      @Html.DisplayFor(model => model.OrgChart.Name)
                      @Html.HiddenFor(model => model.OrgChartId)
                 
                     }
                     else 
                     {
					      @Html.DropDownList("OrgChartId",null,string.Empty, new { @class = LongHu.Framework.ConstantManager.DropDownListMandatoryShortClass })
                     }
                  
           @Html.ValidationMessageFor(model => model.OrgChartId)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.AuthorEmployeeId, ModelResources.LabelAuthorEmployeeId)
        </div>
        <div class="valueLabel">
                
				    @if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Details
                   || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                    {
                      @Html.DisplayFor(model => model.Employee.Name)
                      @Html.HiddenFor(model => model.AuthorEmployeeId)
                 
                     }
                     else 
                     {
                     
                       @Html.DropDownList("AuthorEmployeeId")
                     }
                  
           @Html.ValidationMessageFor(model => model.AuthorEmployeeId)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.OperatedOn, ModelResources.LabelOperatedOn)
        </div>
        <div class="valueLabel">
				     @if (Model.ActionOperationType ==LongHu.ObjectModel.EActionOperationType.Details
                     || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                     {
					    @Html.DisplayFor(model => model.OperatedOn)

				     }
					 else
					 {
						    @Html.TextBoxFor(model => model.OperatedOn)
					 }
                  
           @Html.ValidationMessageFor(model => model.OperatedOn)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.OperatedByEmployeeId, ModelResources.LabelOperatedByEmployeeId)
        </div>
        <div class="valueLabel">
                
				    @if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Details
                   || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                    {
                      @Html.DisplayFor(model => model.Employee.Name)
                      @Html.HiddenFor(model => model.OperatedByEmployeeId)
                 
                     }
                     else 
                     {
					      @Html.DropDownList("OperatedByEmployeeId",null,string.Empty, new { @class = LongHu.Framework.ConstantManager.DropDownListMandatoryShortClass })
                     }
                  
           @Html.ValidationMessageFor(model => model.OperatedByEmployeeId)
        </div>
        </li>
    <li>
        <div class="label">
            @Html.LabelFor(model => model.ProjectPlanInformationStatusId, ModelResources.LabelProjectPlanInformationStatusId)
        </div>
        <div class="valueLabel">
                
				    @if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Details
                   || Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
                    {
                      @Html.DisplayFor(model => model.DataDictionary.Name)
                      @Html.HiddenFor(model => model.ProjectPlanInformationStatusId)
                 
                     }
                     else 
                     {
					      @Html.DropDownList("ProjectPlanInformationStatusId",null,string.Empty, new { @class = LongHu.Framework.ConstantManager.DropDownListMandatoryShortClass })
                     }
                  
           @Html.ValidationMessageFor(model => model.ProjectPlanInformationStatusId)
        </div>
        </li>

  </ol>
    </fieldset>
    <fieldset class="submit">
           @if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Edit)
    {
        <input type="submit" value="@GlobalResources.EditAction" name="Edit" />
    }
    else if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Create)
    {
        <input type="submit" value="@GlobalResources.CreateAction" name="Create" />
    }
    else if (Model.ActionOperationType == LongHu.ObjectModel.EActionOperationType.Delete)
    {
        <input type="submit" value="@GlobalResources.DeleteAction" name="Delete" />
    }
    </fieldset>
}
<p>

    @Html.ActionLink(GlobalResources.BackToListAction, "Index")
</p>


