@using ModelResources = LongHu.Framework.Resources.EmployeeResources
@using GlobalResources = Resources.Global
@model IEnumerable<LongHu.ObjectModel.Employee>


<div class="gridViewOverflow">
<table class="grid" cellpadding="0" cellspacing="0">
    <tr class="header"  align="left">
       

                 <th  align="left" scope="col" class="grid_header_th" mth="Sort" IsAsc="@ViewBag.IsAsc.ToString()" SortBy="UserName">@ModelResources.LabelUserName</th>
       

                 <th  align="left" scope="col" class="grid_header_th" mth="Sort" IsAsc="@ViewBag.IsAsc.ToString()" SortBy="Email">@ModelResources.LabelEmail</th>
       

                 <th  align="left" scope="col" class="grid_header_th" mth="Sort" IsAsc="@ViewBag.IsAsc.ToString()" SortBy="ContactPhone1">@ModelResources.LabelContactPhone1</th>
       

                 <th  align="left" scope="col" class="grid_header_th" mth="Sort" IsAsc="@ViewBag.IsAsc.ToString()" SortBy="CreatedOn">@ModelResources.LabelCreatedOn</th>
       

                 <th  align="left" scope="col" class="grid_header_th" mth="Sort" IsAsc="@ViewBag.IsAsc.ToString()" SortBy="ModifiedOn">@ModelResources.LabelModifiedOn</th>
       

                 <th  align="left" scope="col" class="grid_header_th" mth="Sort" IsAsc="@ViewBag.IsAsc.ToString()" SortBy="LoginName">@ModelResources.LabelLoginName</th>
       

                 <th  align="left" scope="col" class="grid_header_th" mth="Sort" IsAsc="@ViewBag.IsAsc.ToString()" SortBy="Password">@ModelResources.LabelPassword</th>
       

               
			   <th  align="left" scope="col" class="grid_header_th" mth="Sort" IsAsc="@ViewBag.IsAsc.ToString()" SortBy="Department">@ModelResources.LabelDepartmentId</th>
        <th>@GlobalResources.LabelAction</th>
    </tr>

@foreach (var item in Model) {
    <tr class="row" valign="top" id="row-@item.Id">
                 <td>@Html.DisplayFor(modelItem => item.UserName)&nbsp;</td>
                 <td>@Html.DisplayFor(modelItem => item.Email)&nbsp;</td>
                 <td>@Html.DisplayFor(modelItem => item.ContactPhone1)&nbsp;</td>
                 <td>@Html.DisplayFor(modelItem => item.CreatedOn)&nbsp;</td>
                 <td>@Html.DisplayFor(modelItem => item.ModifiedOn)&nbsp;</td>
                 <td>@Html.DisplayFor(modelItem => item.LoginName)&nbsp;</td>
                 <td>@Html.DisplayFor(modelItem => item.Password)&nbsp;</td>
               <td>@Html.DisplayFor(modelItem => item.Department.Name)&nbsp;</td>
        <td class="command">
            @Html.ActionLink(GlobalResources.ListActionEdit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(GlobalResources.ListActionDetails, "Details", new { id=item.Id }) |
        
			<a href="#" class="deleteLink" data-id="@item.Id" data-delConfirmMessage="@ModelResources.DeleteConfirmMessage">@GlobalResources.ListActionDelete</a>
        </td>

    </tr>
}

</table>
</div>
<div id="Page">@Html.Partial("_Page", Model as IPagedList)</div>

