

<div id="sidetreecontrol"><a href="?#"></a></div>
<ul id="browser">

    <li>
        <div style="font:>
            <img src="@Url.Content("~/Content/themes/images/organization.png")" width="16px" height="16px" class="treeview" />
            <strong>龙湖地产</strong></div>
        <ul>
            <li>
                <div>
                    <img src="@Url.Content("~/Content/themes/images/pin_blue.png")" width="16px" height="16px" />
                    <a href="/Home/About"><strong>天津龙湖</strong></a></div>
            </li>
            <li>
                <div>
                    <img src="@Url.Content("~/Content/themes/images/pin_blue.png")" width="16px" height="16px" />
                    <a href="/Home/Contact"><strong>北京龙湖</strong></a></div>
                <ul>
                    <li>
                        <div>
                            <img src="@Url.Content("~/Content/themes/images/pin_red.png")" width="16px" height="16px" />
                            <a href="/Home/About"><strong>朝阳龙湖别墅</strong></a></div>
                        <ul>
                            <li>
                                <div>
                                    <img src="@Url.Content("~/Content/themes/images/pin_orange.png")" width="16px" height="16px" />
                                    <a href="/Account/Login"><strong>一期工程</strong></a></div>
                                <ul>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/Content/themes/images/pin_green.png")" width="16px" height="16px" />
                                            <a href="/Home/About"><strong>1组团XXX</strong></a></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
